<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:replace="android:allowBackup, android:supportsRtl">
    <activity
      android:name=".wt_deviceform"
      android:exported="false"
      android:label="@string/title_activity_wt_deviceform"
      android:theme="@style/AppTheme" />

    <meta-data
      android:name="TUYA_SMART_APPKEY"
      android:value="phkpm85jvrrhndp88yxf" />
    <meta-data
      android:name="TUYA_SMART_SECRET"
      android:value="drkxrw9skw77extwsf58uu7p7qd93u4k" />

    <activity
      android:name=".wt_main"
      android:exported="true"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".wt_preferences" />
    <activity android:name=".wt_login" />
    <activity
      android:name="net.openid.appauth.RedirectUriReceiverActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="appauth.grezl.eu"
          android:path="/oauth2redirect"
          android:scheme="https" />
      </intent-filter>
    </activity>
    <activity android:name=".wt_webview" />
  </application>

</manifest>